@use '../../styles/palletes' as plt;

.search {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background: plt.$background;

    .wraper-padding {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0 32px 0 32px;
    }
}