@use '../../../../styles/palletes' as plt;

.section-project {
    grid-row: 2 / 3;
    border-top: 1px solid plt.$border;
    border-bottom: 1px solid plt.$border;
    display: flex;
    flex-direction: column;
    padding-top: 16px !important;
    
    h2 {
        font-size: 56px;
        color: plt.$text;  
        text-align: center;
    }

    & > p:first-of-type {
        margin-top: 18px;
    }

    & > p {
        margin-top: 16px;
    }
}

//Responsividade
@media (max-width: 1024px) {
    .section-project {
        h2 {
            font-size: 52px;
        }
    }
}

@media (max-width: 767px) {
    .section-project > h2 {
        font-size: 50px;
    }
}

@media (max-width: 480px) {
    .section-project {
        p:first-of-type {
            margin-top: 16px;
        }

        p {
            margin-top: 14px;
        }
    }
}