@use '../../../../styles/palletes' as plt;
@use "../../styles/mixins" as *;

.project-creation {
    @include author-session;
    grid-column: 1 / 2 !important;
    
    ul {
        @include list-auto;

        li {
            &:nth-of-type(1) > svg {
                fill: plt.$primary;
            }

            &:nth-of-type(2) > svg {
                fill: plt.$primary-hover;
            }

            &:nth-of-type(3) > svg {
                fill: plt.$accent-green;
            }
        }
    }
}