@use '../../../../styles/palletes' as plt;

.artists-results-search {
    width: 100%;
    display: grid;    
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(400px, 500px);
    margin-top: 16px;
    gap: 16px;
    //temp
    margin-bottom: 100px;
}

@media (max-width: 1400px) {
    .artists-results-search {
        gap: 8px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(350px, 450px);
    }
}